:root{
    --header-height: 100px;
    --main-height: calc(100vh - 155px);
}

header{
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(173, 216, 230, 0.611);
}

#my-name{
    font-size: 80px;
    font-weight: 300;
}

#pic-of-me{
    position: absolute;
    top: 3px;
    left: 5px;
    height: 135px;
    width: 135px;
    border-radius: 50%;
    border: solid black 2px;
    background-image: url('images/PicofMe.png');
    background-position: center;
    background-size: 100%;
}

nav{
    height: 45px;
    background-color: rgba(0, 128, 255, 0.468);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 1px;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 250px;
    font-size: 2rem;
    text-align: center;
}
a:hover{
    cursor:pointer;
    font-size: 2.2rem;
    font-weight: bold;
}

.active{
    font-size: 2.2rem;
    font-weight: bold;
}

main{
    height: var(--main-height);
    width: 100vw;
    display: flex;
    justify-content: center;
}

h2{
    font-size: 60px;
    text-align: center;
}

#about{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

#about > p{
    font-size: x-large;
}

#skills{
    height: calc(100vh - 150px);
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* padding-bottom: 2px; */
}

#skills-list{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#skills-list > li{
    height: 110px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1.25rem;
}

.skills-imgs{
    height: 100%;
}

#projects{
    height: calc(100vh - 170px);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5%;
    padding-top: 20px;
}

#project-list{
    height: inherit;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#project-list li{
    height: 67%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#project1 {
    background-image: url(./images/Poke.png);
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 1rem;
    box-shadow: 0 0 15px -5px;
}

.poke-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 1.25rem;
    color: black;
    font-weight: 800;
    /* background-color: hsl(179,100%,45%, .3); */
    /* text-shadow: 0px 0px 50px black; */
    gap: 20px;
    padding-bottom: 3.5rem;
}

.poke-links-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center; 
}

.poke-links-container p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 40%;
    font-size: 1.60rem;
}

.closet-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.25rem;
    color: white;
    font-weight: 800;
    /* background-color: hsl(179,100%,45%, .3); */
    text-shadow: 0px 0px 50px black;
    gap: 20px;
    padding: 10px 0 10px 0;
}

.closet-container h3{
    width: 100%;
    font-size: 2.25rem;
    border-bottom: solid hsl(179,100%,35%) 3px;
    padding-bottom: 5px;
}

.links-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center; 
    border-top: solid hsl(179,100%,35%) 3px;
    padding-top: 5px;
}

.links-container p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 40%;
    font-size: 1.60rem;
}

#project2{
    color: white;
    background-image: url(./images/grant-final-logo1.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size: 60%;
    background-color: black;
    border-radius: 1rem;
    box-shadow: 0 0 10px -1px hsl(179,100%,35%);
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap: 5%;
    padding-top: 6rem;
}

#contact-list{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#contact-list > li{
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hovering:hover{
    cursor: pointer;
    font-size: 2rem;
}

.GitHub,
.GitHub img{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: 1.5rem;
    gap: 5px;
}

.GitHub img:hover{
    cursor: pointer;
    height: 110px;
    width: 110px;
}

.LinkedIn,
.LinkedIn img{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    height: 100px;
    text-align: left;
    font-size: 1.5rem;
    gap: 5px;
}

.LinkedIn img:hover{
    cursor: pointer;
    height: 110px;
    text-align: left;
}

#phone{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: solid black ;
    background-image: url(images/Phone.png);
    background-position: center;
    background-size: 120%;
}

.number{
    padding-top: 15px;
    font-size: 1.5rem;
    gap: 5px;
}